In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

df = sn.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [2]:
Dicionario = pd.DataFrame ([
    {"Variável": "Survived",
     "Descrição": "Se a pessoa sobreviveu ou não ao acidente",
     "Tipo": "Qualitativa",
     "subtipo": "Ordininária"},
    {"Variável": "Pclass",
     "Descrição": "Classe em que o passageiro estava viajando",
     "Tipo": "Quantitativa",
     "subtipo": "Ordinal"
                            },
    {"Variável": "Sex",
     "Descrição": "Sexo dos Tripulantes",
     "Tipo": "Qualitativa",
     "Subtipo": "Nominal"
                            },
    {"Variável": "Age",
     "Descrição": "Idade das pesssoas",
     "Tipo": "Quantitativa",
     "subtipo": "Discreta" #Se a idade fosse mais precisa (25 anos e 6 meses, por exemplo) seria contínua
                            },
    { "Variável": "Sibsp",
     "Descrição": "Se a pessoa estava ou não acompanhada na viagem",
     "Tipo": "Quantitativa",
     "Subtipo": "Discreta"
                            },
    { "Variável": "Parch",
     "Descrição": "Quantidade de pais e filhos que o passageiro estava levando",
     "Tipo": "Quantitativa",
     "Subtipo": "Discreta",
                            },
    { "Variável": "Fare",
     "Descrição": "Valor da passagem",
     "Tipo": "Quantitativa",
     "Subtipo": "Contínua"
                            },
    { "Variável": "Embarked",
     "Descrição": "Porto em que a pessoa embarcou",
     "Tipo": "Qualitativa",
     "Subtipo": "Nominal"
                            },
    { "Variável": "Class",
    "Descrição": "Classe em que o passageiro estava viajando",
     "Tipo": "Quantitativa",
     "subtipo": "Ordinal"
                             },
    { "Variável": "Who",
     "Descrição": "Sexo dos passegeiros",
     "Tipo": "Qualitativa",
     "Subtipo": "Nominal"
                            },
    { "Variável": "Adult_male",
     "Descrição": "Se o passageiro era ou não adulto",
     "Tipo": "Qualitativo",
     "Subtipo": "Nominal"
                            },
    { "Variável": "Deck",
     "Descrição": "Em qual deck a pessoa estava",
     "Tipo": "Qualitativa",
     "Subtipo": "Nominal"
                            },
    { "Variável": "Embarked_Town",
     "Descrição": "Cidade onde a pessoa embarcou",
     "Tipo": "Qualitativa",
     "Subtipo":"Nominal"
                            },
    { "Variável": "Alive",
     "Descrição": "Se a pessoa sobreviveu ou não",
     "Tipo": "Qualitatitva",
     "Subtipo": "Nominal"
                            },
     { "Variável": "Alone",
      "Descrição": "Se a pessoa estava sozinha ou acompanhada",
      "Tipo": "Qualitativa",
      "Subtipo": "Nominal"
                             }
     
])
Dicionario

,Variável,Descrição,Tipo,subtipo,Subtipo
0,Survived,Se a pessoa sobreviveu ou não ao acidente,Qualitativa,Ordininária,NaN
1,Pclass,Classe em que o passageiro estava viajando,Quantitativa,Ordinal,NaN
2,Sex,Sexo dos Tripulantes,Qualitativa,NaN,Nominal
3,Age,Idade das pesssoas,Quantitativa,Discreta,NaN
4,Sibsp,Se a pessoa estava ou não acompanhada na viagem,Quantitativa,NaN,Discreta
5,Parch,Quantidade de pais e filhos que o passageiro e...,Quantitativa,NaN,Discreta
6,Fare,Valor da passagem,Quantitativa,NaN,Contínua
7,Embarked,Porto em que a pessoa embarcou,Qualitativa,NaN,Nominal
8,Class,Classe em que o passageiro estava viajando,Quantitativa,Ordinal,NaN
9,Who,Sexo dos passegeiros,Qualitativa,NaN,Nominal
10,Adult_male,Se o passageiro era ou não adulto,Qualitativo,NaN,Nominal
11,Deck,Em qual deck a pessoa estava,Qualitativa,NaN,Nominal
12,Embarked_Town,Cidade onde a pessoa embarcou,Qualitativa,NaN,Nominal
13,Alive,Se a pessoa sobreviveu ou não,Qualitatitva,NaN,Nominal
14,Alone,Se a pessoa estava sozinha ou acompanhada,Qualitativa,NaN,Nominal